
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

Dockerfile
Dockerfile.txt
.dockerignore
nginx.conf
dcoker-compose.yml

dist/
build/
out/
tmp/
temp/

.DS_Store
Thumbs.db


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln


logs/
*.log


.env
.env.*


coverage/


*.tgz
